@{
    ViewData["Title"] = "Home Page";
}

<ul class="list-group">
	<li class="list-group-item list-group-item-action">
		<a class="btn btn-outline-primary btn-block" asp-controller="Operation" asp-action="Index">Operations</a>
	</li>
</ul>
