@page
@model ShutdownTimer.Server.Areas.Admin.Pages.OptionsModel
@{
}

	<ul class="list-group">
		<li class="list-group-item list-group-item-action">
			<a class="btn btn-outline-primary btn-block" asp-area="Admin" asp-page="Commands/Index">Custom Commands</a>
		</li>
		<li class="list-group-item list-group-item-action">
			<a class="btn btn-outline-primary btn-block" asp-area="Admin" asp-page="Operation/Index">Supported Operations</a>
		</li>
		<li class="list-group-item list-group-item-action">
			<a class="btn btn-outline-primary btn-block" asp-area="Admin" asp-page="Users/Index">Users</a>
		</li>
	</ul>
